<!DOCTYPE html>
<html>

<head>
    
        </nav>
        {#   
            {% if current_user.is_authenticated %}
                <a class="active" href="/">Home</a>
                <strong> | </strong>
                <a href="/pages">Pages</a>
                <strong> | </strong>
                <a href="/about">About</a>
                <strong> | </strong>
                <a href="/upload">Upload</a>
                <strong> | </strong>
                <a href="/logout">Logout</a>
                <strong> | </strong>
                {{ current_user.name }}
            {% else %} 
        #}
                <a class="active" href="/">Home</a>
                <strong> | </strong>
                <a href="/pages">Pages</a>
                <strong> | </strong>
                <a href="/about">About</a>
                <strong> | </strong>
                <a href="/signin">Sign In</a>
                <strong> | </strong>
                <a href="/signup">Sign Up</a>
        {#    
            {% endif %} 
        #}
        </nav>
       <center><h2>✰{% block title %} Home{% endblock %} - Retro Video Game Wiki ✰</h2></center> 
</head>

<body>
    {% block content %}
    <p>       
        <center>Welcome to our page!</center>
        
    </p>
    <p> 
        <center>
            <img src="RetroVideoGames.jpg" alt="Picture of retro video games and consoles" width="1050" height="500"> 
        </center>
    </p>
    {% endblock %}
</body>

</html>
